<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/tailwind.css" />
        <script src="/dist/htmx.org/dist/htmx.min.js"></script>
        <script src="/js/index.js" type="module"></script>
    </head>
    <body>
        <h1 class="text-8xl font-black">Actix HTML</h1>
        <button hx-get="/clicked" class="rounded bg-sky-500 p-2.5 text-white">HTMX</button>
        <button id="list-add" class="rounded bg-sky-500 p-2.5 text-white">+</button>
        <button id="list-remove" class="rounded bg-sky-500 p-2.5 text-white">-</button>
        <ol id="list">
            {% for i in iter %}
            <li>{{ i }}</li>
            {% endfor %}
        </ol>
    </body>
</html>
